li {
  margin-right: 16px;
  margin-bottom: 16px;

  & button {
    all: unset;
    cursor: pointer;
  }

  & img {
    width: 60px;
    height: 60px;
    opacity: 0.6;
    border-radius: 8px;
  }
}

.active {
  opacity: 1;
}
